*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
        height: 100%;
        flex-direction: column;
}

body{
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar,.container{
    background-color: rgb(28, 28, 29);
    width: 60vw;
    border-radius: 3px;
}
.nav-bar{
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn, input{
    height: 4vh;
    padding: 0 1em;
}

.color{
    padding: 0 .25em;
    width: 6vw;
    margin: 0 0.1em;
}

.container{
    --size: 4;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    gap: 3px;
    padding: 3px;
    height: 85vh;
    width: 60vw;
}

.pixel{
    background-color: #3D3C3E;
}

@media screen and (max-width: 440px) and (max-height: 935px) and (min-width: 0px) and (min-height: 0px){
    .nav-bar{
        width: 95vw;
    }
    .container{
        --size: 4;
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(var(--size), 1fr);
        grid-template-rows: repeat(var(--size), 1fr);
        gap: 3px;
        padding: 3px;
        height: 80vh;
        width: 85vw;
        
    }
    .color{
        padding: 0 .25em;
        width: 10vw;
        margin: 0 0.1em;
    }
}

@media screen and (max-width: 325px) and (max-height: 570px) and (min-width: 100px) and (min-height: 100px){
    .nav-bar{
        width: 95vw;
    }
    .container{
        --size: 4;
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(var(--size), 1fr);
        grid-template-rows: repeat(var(--size), 1fr);
        gap: 3px;
        padding: 3px;
        height: 80vh;
        width: 85vw;
        
    }
    .color{
        padding: 0 .25em;
        width: 15vw;
        margin: 0 0.9em;
    }
    .btn, input{
        display: block;
        height: 4vh;
        width: 15vw;
        justify-content: start;
        align-items: start;
        text-align: start;
        padding: 0 1em;
    }
}

@media screen and (max-width: 885px) and (max-height: 1285px) and (min-width: 700px) and (min-height: 700px){
    .nav-bar{
        width: 85vw;
    }
    .container{
        --size: 4;
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(var(--size), 1fr);
        grid-template-rows: repeat(var(--size), 1fr);
        gap: 3px;
        padding: 3px;
        height: 80vh;
        width: 85vw;
        
    }
    .color{
        padding: 0 .25em;
        width: 15vw;
        margin: 0 0.9em;
    }
    .btn, input{
        display: block;
        height: 4vh;
        width: 15vw;
        justify-content: start;
        align-items: start;
        text-align: start;
        padding: 0 1em;
        font-size: 25px;
    }
}